*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Open Sans', sans-serif;
    background: #000 url('img/fondo.jpg') ;
    /* background-image: url('img/fondo.jpg'); */
    background-size: cover;
    background-attachment:fixed;
}

.contenedor{
    margin: 20px;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header{
    width: 100%;
    padding: 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .menu a{
    color: white;
    text-decoration: none;
    margin-right: 40px;
    font-size: 18px;
}

header .menu a:hover{
    text-decoration: underline;
}

.imagenLogo{
    width: 100px;
    height: 100px;
}

/* .imagenThumb{
    width: 500px;
    height: 200px;
} */

.main{
    background: white;
    padding: 20px;
    width: 70%;
}

.main article .thumb{
    margin-bottom: 20px;
}

.main article .thumb img{
    width: 100%;
    vertical-align: top;
}

.main article h2{
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 32px;
}

.main article p{
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 27px;
}

aside{
    width: 30%;
    background: #537dca;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

aside .ad{
    font-size: 30px;
    text-align: center;
    color: white;
    padding: 50px 0px;
    background:#4264ae;
    /* margin-bottom: 20px; */
}