<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
</head>
<body>
    <div class="contenedor">
        <header class="cabecera">
            <nav>
                <ul>
                    <li>Inicio</li>
                    <li>Acerca de</li>
                    <li>Productos</li>
                    <li>Contacto</li>
                </ul>
            </nav>        
        </header>
        <section class="main">
            <div class="imagen">
                <img src="img/imagen1.jpg" alt="">
            </div>
            <section class="posts">
                <article>
                    <h2>Titulo post</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quas sapiente nihil natus veritatis debitis magnam, modi possimus ex alias reprehenderit illo maiores ad minima dolores, aspernatur deleniti eum nulla.</p>
                </article>
                <article>
                    <h2>Titulo post</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis impedit reiciendis voluptatem esse accusantium dolore non consequuntur voluptatibus temporibus maxime dolores provident tempore, iusto nemo inventore quasi mollitia aspernatur debitis.</p>                
                </article>
            </section>                
        </section>
        <aside>
            <div class="widget">
                <h3 class="titulo">Articulos destacados</h3>
                <ul>
                    <li><a href="#">Articul 1</a></li>
                    <li><a href="#">Articul 1</a></li>
                    <li><a href="#">Articul 1</a></li>
                    <li><a href="#">Articul 1</a></li>
                    <li><a href="#">Articul 1</a></li>
                </ul>
            </div>

            <div class="widget">
                <h3 class="titulo">Informacion</h3>
                <ul>
                    <li>Informacion 1</li>
                    <li>Informacion 1</li>
                    <li>Informacion 1</li>
                </ul>
            </div>
        </aside>
        <footer>
            <p>Victor Cruz 2023 - Derechos reservados</p>
        </footer>
    </div>
</body>
</html>