@font-face{
    font-family:'Delicious Handrawn';
    src: url(fonts/Delicious_Handrawn/DeliciousHandrawn-Regular.ttf);
}

body{
    font-family: 'Delicious Handrawn';
}

h1{
    font-weight: normal;
}